{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Indexer Project</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-500 font-serif leading-normal tracking-normal">

		<!-- Navigation Bar -->
		<nav class="bg-zinc-600 p-3">
			<a href="/" class="text-white px-4">Home</a>
			<a href="/blocks/" class="text-white px-4">Blocks</a>
			<a href="/transactions/" class="text-white px-4">Transactions</a>
		</nav>
		
		<!-- Blocks Summary element -->
		<div class="grid justify-center mt-[30px] px-[2px]">
				<h1 class="font-cambo"> Blocks Summary </h1>
				<div class="flex flex-wrap gap-2">
					<div class="border-2 border-white bg-black width-block-min-custom">
						<h1 class="text-white whitespace-nowrap"> Block Height </h1>
						<h2 class="text-white"> 123 </h2>
					</div>
					<div class="border-2 border-white bg-black width-block-min-custom">
						<h1 class="text-white whitespace-nowrap"> Blocks (Last 24 hours) </h1>
						<h2 class="text-white"> 500 </h2>
					</div>
					<div class="border-2 border-white bg-black width-block-min-custom">
						<h1 class="text-white whitespace-nowrap text-wrap"> Transactions (Last 24 hours) </h1>
						<h2 class="text-white"> 1000 </h2>
					</div>
					<div class="border-2 border-white bg-black width-block-min-custom">
						<h1 class="text-white whitespace-nowrap"> Block Time </h1>
						<h2 class="text-white"> 2000 </h2>
					</div>
				</div>
			</div>
		</div>

		<!-- Blocks element -->
		<div class="my-[20px]">
			<table class="border-collapse width-table-min-custom px-[2px] mx-auto main-table">
				<tr>
					<th class="text-white font-light"> Height </th>
					<th class="w-[35vw] text-white font-light"> Hash </th>
					<th class="w-[15vw] text-white font-light"> Proposer </th>
					<th class="text-white font-light"> Transactions </th>
					<th class="text-white font-light"> Created at </th>
				</tr>
				{% for block in blocks %}
					<tr class="border-t-2 border-solid border-neutral-300 text-center">
						<td class="text-white">{{ block.height }}</td>
						<td class="text-white">{{ block.block_hash|slice:":7"}}...{{ block.block_hash|slice:"-7:" }}</td>
						<td class="text-white">{{ block.chain_id }}</td>
						<td class="text-white">{{ block.tx_num }}</td>
						<td class="text-white grid grid-rows-2">
							<p>{{ block.created_at|date:"b j, Y" }}</p>
							<p class="flex-shrink-0">{{ block.created_at|date:"H:i:s" }}</p>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>