{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Indexer Project</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-500 font-serif leading-normal tracking-normal">

		<!-- Navigation Bar -->
		<nav class="bg-zinc-600 p-3">
			<a href="/" class="text-white px-4">Home</a>
			<a href="/blocks/" class="text-white px-4">Blocks</a>
			<a href="/transactions/" class="text-white px-4">Transactions</a>
		</nav>
		
		<div class="grid items-center justify-center mt-[50px]">
			<h1> Transactions Summary </h1>
            <h1> Total Transactions </h1>
            <h1> Transactions (30d) </h1>
            <h1> Transaction (Yesterday) </h1>
            <h1> Transactions per second (Last 20 blocks) </h1>
		</div>

		<!-- Transactions element -->
		<div class="my-[20px]">
			<table class="bg-zinc-500 border-collapse width-table-min-custom px-[2px] mx-auto">
				<tr>
					<th class="text-white"> Height </th>
					<th class="w-[35vw] text-white"> Tx Hash </th>
					<th class="w-[15vw] text-white"> Fee amount </th>
					<th class="text-white"> Created at </th>
				</tr>
				{% for transaction in transactions %}
					<tr class="border-t-2 border-solid border-neutral-300 text-center">
						<td class="text-white">{{ transaction.height }}</td>
						<td class="text-white">{{ transaction.tx_hash|slice:":7"}}...{{ transaction.tx_hash|slice:"-7:" }}</td>
						<td class="text-white">{{ transaction.fee_amount }} {{ transaction.fee_denom }}</td>
						<td class="text-white grid grid-rows-2">
							<p>{{ transaction.created_at|date:"b j, Y" }}</p>
							<p class="flex-shrink-0">{{ transaction.created_at|date:"H:i:s" }}</p>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>